# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
code_mlops-venv/

# Environment files
.env
*.env
*.local

# JSON files (except template)
*.json
!config.template.json

# Credentials
credentials/

# Logs
*.log

# Model artifacts
*.pkl
*.joblib

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (if you use VSCode)
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

monitoring_log.csv
*.log